; Force developer to use `engines` that are specified in package.json
engine-strict = true

; Force NPM 9+ to install local package with symbolic link instead of copying local package to `node_modules` folder
; https://docs.npmjs.com/cli/v9/commands/npm-install?v=true#install-links
install-links = false